body {
    background-color: hsl(216, 12%, 8%);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: 'Overpass', sans-serif;
}

section {
    background-color: hsl(213, 19%, 18%);
    width: 350px;
    height: 350px;
    border-radius: 25px;
}

div {

}

#numButtonDiv {
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 30px;
    display: flex;
    justify-content: space-between;
}

#star {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsl(216, 12%, 24%);
    height: .45in;
    width: .45in;
    border-radius: 50%;
    margin-top: 30px;
    margin-left: 30px;
}

h1 {
    color: hsl(0, 0%, 100%);
    font-weight: 700;
    margin-top: 30px;
    margin-left: 30px;
}

p {
    color: hsl(217, 12%, 63%);
    font-size: 15px;
    font-weight: 400;
    margin-top: -11px;
    margin-left: 30px;
    margin-right: 25px;
}

.button {
    cursor: pointer;
    border: none;
    height: .45in;
    width: .45in;
}

.numberButtons {
    background-color: hsl(216, 12%, 24%);
    color: hsl(217, 12%, 63%);
    border-radius: 50%;
}

.numberButtons:hover {
    background-color: hsl(25, 97%, 53%);
    color: hsl(0, 0%, 100%);
}

#submitButton {
    background-color: hsl(25, 97%, 53%);
    color: hsl(0, 0%, 100%);
    width: 3in;
    border-radius: 25px;
    font-weight: 700;
    margin-left: 30px;
    margin-top: 20px
}

#submitButton:hover {
    background-color: hsl(0, 0%, 100%);
    color: hsl(25, 97%, 53%);
}